body {
    margin: 0;
    padding: 0;
  }
  .bach {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .navlink {
    text-align: center;
    padding: 5px;
    margin-left: 80px;
    display: inline-flex;
    justify-content: center;
    font-family: Optima;
    border-style: solid;
  }
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: "Monserrat", sans-serif;
  }
  a:hover {
    color: #e8ded2;
  }
  .navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  footer {
    font-size: 20px;
    font-family: Optima;
    text-align: center;
    justify-content: center;
    display: flex;
  
    position: relative;
    align-items: center;
  }
  .social {
    width: 25px;
    height: 25px;
  }
  * {
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Montserrat', sans-serif;
      margin: 0;
  }
  
  
  .title {
      color: #black;
      text-align: center;
  }
  .para {
      text-align: center;
    
    flex:auto;
    font-size: 25px; 
    margin-left: 20%;
    margin-right:20%;
    margin-bottom:10%;
  }
  
  
  
  .plan {
      background: #C70039;
      text-align: center;
      padding: 16px;
      margin: 8px;
      display: inline-block;
      width: 30%;
      vertical-align: middle;
    
  }
  
  .highlighted {
      background: #FF5733;
      color: white;
      
   margin-left: 35%;
    
  }
  
  .annotation {
      background: white;
      color: #FFC300;
      padding: 8px;
     
      border-radius: 8px;
  }
  .other{
     background: white;
      color: #FF5733;
     padding: 8px;
    border-radius: 8px;
  }
  
  .features {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .feature {
      margin: 8px 0;
  }
  .slide {width:60%; height:300px;padding-bottom:10%; overflow:hidden; position:relative;}
  .slide img{ position:absolute; animation:slide 20s infinite; opacity:100; width:100%; height: auto;}
  .slide{ margin-left:20%;
  }
  @keyframes slide {25%{opacity:1;} 40%{opacity:0;}}
  .slide img:nth-child(4){animation-delay:5s;}
  .slide img:nth-child(3){animation-delay:10s;}
  .slide img:nth-child(2){animation-delay:15s;}
  .slide img:nth-child(1){animation-delay:20s;}
  
  .go-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
  }
  .go-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
  }